*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.active{
    display: block;
}
.inactive{
    display: none;
}
.row{
    align-items:center;
    width: 40%;
    margin: 0 auto;
    height: 100%;
}

.thumbnails{
    height: 100px;
}
.thumbnails img{
    max-width: calc(100% / 5);
    max-height: 100%;
}

.main-img{
width: 100%;
}

.main-img img{
    width: 70%;
}


.fa-solid.fa-circle-right{
    font-size: 50px;
    color: rgb(255, 0, 0);
}
.fa-solid.fa-circle-left{
    font-size: 50px;
    color: rgb(255, 0, 0);
    top:50%;
    left:5px;
}
